.Admin__spinner {
    margin: 36vh auto;
    text-align: center;
}

.Admin__User {
    --light-text: rgba(0, 0, 0, 0.54);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.Admin__User--header {
    display: flex;
    justify-content: space-between;
}

.Admin__User--header .left h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
}

.Admin__User--header .left span {
    color: var(--light-text);
}

.card-user-info {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #999;
}

.card-user-info span {
    color: #333;
    text-transform: uppercase;
    margin-left: 2px;
}